.feed {
  display: flex;
  /* margin-top: 20px; */
  /* align-items: flex-start; */
  /* width:100%; */
  flex-direction: row-reverse;
  gap: 20px;
}

.feedcontentRight {
  height: calc(50vh - 1px);
  overflow-y: scroll;
  scrollbar-color: #bfbfbf;
}
.feedcontentRight::-webkit-scrollbar {
  border-radius: 8px;
  width: 2px;
}
.feedcontentRight::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
  border-radius: 8px;
}
.feedcontentRight::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 8px;
}
.centered-section {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  width: 450px;
  height: calc(70vh - 1px);
  scrollbar-color: #bfbfbf;
}
.centered-section::-webkit-scrollbar {
  width: 0px;
}
.centered-content {
  padding: 10px;
  height: 290px;
  border: 1px solid #eeeeee;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-content img {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.skilldata p {
  margin: 0px;
  font-size: 14px;
  color: #535353;
}

.skilldata h5 {
  color: #888888;
}

.skilldata2 h5 {
  margin-top: 5px;
  font-size: 15px;
  color: #888888;
}

.skillchild {
  color: #888888;
  margin-right: 10px;
}

.skillchild2 {
  color: #2676c2;
}

.option:hover {
  background-color: #ebebeb;
}

.centered-section2 {
  /* width: 70%; */
  padding: 20px;
  width: 650px;
  /* width:100%; */
  border: 1px solid #eeeeee;
}

.inst {
  cursor: pointer;
}

.img2 {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.scroll::-webkit-scrollbar {
  width: 0.5em;
}

.skillfooter2 {
  display: flex;
}

.skillfooter2 svg {
  margin-left: 30px;
}

.sendFooter {
  cursor: pointer;
}

.scroll {
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: #bfbfbf;
}
.scroll::-webkit-scrollbar {
  width: 0px;
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 8px;
}

.messageContent {
  align-items: center;
  margin-top: 10px;
}

.messageFooter {
  padding: 10px;
  border: 1px solid #eeeeee;
}

.scroll {
  height: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: #bfbfbf;
}
.scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 8px;
}
.messageContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.messageChild {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.messageFooter {
  padding: 10px;
  border: 1px solid #eeeeee;
}

.messageContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.messageFooter {
  padding: 10px;
  border: 1px solid #eeeeee;
}

.no-transition {
  transition: none !important;
  transform: none !important;
}

.scrollpopUp {
  height: 290px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #bfbfbf;
  margin-left: 20px;
}
.scrollpopUp::-webkit-scrollbar {
  width: 6px;
  border-radius: 8px;
}
.scrollpopUp::-webkit-scrollbar-track {
  border-radius: 8px;
}
.scrollpopUp::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 8px;
}
.popFooter {
  display: flex;
  align-items: center;
  height: 50px;
  width: 744px;
  box-shadow: -2px -2px 1px 1px rgba(17, 17, 17, 0.1);
  border: 0px;
}

.popFooter.disabled {
  background: whitesmoke;
  color: #8d8d8d;
}

.popFooter.enabled {
  background: #2676c2;
}

.close {
  padding: 4px 4px;
  border-radius: 50%;
  color: #2676c2;
  cursor: pointer;
}

.close:hover {
  color: #2676c2;
  cursor: pointer;
  background-color: rgb(38, 118, 194, 0.1);
}

/* PopUp.css */

.popupContainer {
  width: 744px;
  height: 492px;
  border: 2px solid #eeeeee;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  margin: 130px 343px;
  /* margin-left: 343px; */
}

.downlod {
  padding: 10px 10px;
  border-radius: 50%;
  color: #2676c2;
  cursor: pointer;
}

.downlod:hover {
  color: #2676c2;
  cursor: pointer;
  background-color: rgb(38, 118, 194, 0.1);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 10000;
}
