.Otp_Verify {
  width: 100%;
  height: auto;
  /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%); */
  /* margin: auto; */
  /* position: relative;
    left: -2000px;
    animation: slideIn 0.5s ease-out 0.2s forwards; */
}

@keyframes slideIn {
  to {
    left: 0;
  }
}
.Content {
  margin: auto;
  width: 90%;
  margin-top: 1rem;
}

.Otp_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -2000px;
  animation: slideIn 0.4s ease-out 0.2s forwards;
}

.Otp_Header img {
  width: 12.5rem;
  height: 4.57rem;
}

.Help {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.WIcon {
  gap: 1rem;
  box-sizing: border-box;
  border: 2px #2676c2 solid;
  width: 11.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WIcon select {
  border: none;
  cursor: pointer;
}

.WIcon select:focus {
  border: none;
}

.WIcon select::-ms-expand {
  display: none;
  /* For Internet Explorer, hide the arrow */
}

#English {
  color: #2676c2;
  outline: none;
  color: #2676c2;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

#English option {
  color: #2676c2;
  cursor: pointer;
}

.WIcon option {
  cursor: pointer;
}

.Reciever_Align h2 {
  color: #2676c2;
  font-family: Poppins;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0%;
  /* text-align: left; */
}

.Reciever_Align p {
  color: #b9b9b9;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.Reciever_Align button {
  border-radius: 0.125rem;
  background: #2676c2;
  width: 27.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  border: none;
  color: var(--icon-color, #fff);
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Reciever {
  border: 1px solid #ddd;
  background: var(--icon-color, #fff);
  margin-top: 2rem;
  height: 23.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.otp-input-container input {
  border-radius: 0.625rem;
  border: 1px solid rgba(38, 118, 194, 0.2);
  background: rgba(38, 118, 194, 0.1);
  width: 6.25rem;
  height: 3.75rem;
  flex-shrink: 0;
  margin-right: 0.3rem;
}

.otp-input-container {
  margin: 0%;
}

.Reciever_Align {
  width: 28.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1.2rem;
  justify-content: space-evenly;
}

.otp-input-container input:focus {
  color: #2676c2;
  outline-color: #2676c2;
}

/* MyComponent.css */

.hrtag {
  display: flex;
  align-items: center;
  margin: 2%;
}

.hrtag .line {
  flex-grow: 1;
  height: 1px;
  background-color: #e3e3e3;
  /* Adjust the color as needed */
  margin: 0 10px;
  width: 27rem;
  height: 0.0625rem;
}

.hrtag p {
  margin: 0;
  color: #2676c2;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.GEIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.Git_Email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Carousel {
  width: 42.8125rem;
  height: 19.75rem;
  flex-shrink: 0;
  position: relative;
  left: -2000px;
  animation: slideIn 0.4s ease-out 0.2s forwards;
}
